<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="John">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="Smith">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Age</mat-label>
    <input matInput placeholder="Computer Science">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Degree</mat-label>
    <input matInput placeholder="Computer Science">
  </mat-form-field>

  <mat-card-actions>
    <button mat-raised-button type="submit" color="primary">Add Student</button>
  </mat-card-actions>
</form>
